.DS_Store
/logs
/app/sql
/app/public/wp-content/languages/
/app/public/license.txt
/app/public/index.php
/app/public/readme.html
/app/public/robots.txt
/app/public/wp-activate.php
/app/public/wp-admin
/app/public/wp-includes
/app/public/wp-blog-header.php
/app/public/wp-comments-post.php
/app/public/wp-config-sample.php
/app/public/wp-config.php
/app/public/wp-cron.php
/app/public/wp-includes
/app/public/wp-links-opml.php
/app/public/wp-load.php
/app/public/wp-login.php
/app/public/wp-mail.php
/app/public/wp-settings.php
/app/public/wp-signup.php
/app/public/wp-trackback.php
/app/public/xmlrpc.php
/app/public/wp-content/._index.php
/app/public/wp-content/index.php
/app/public/wp-content/plugins
/app/public/wp-content/uploads
/app/public/wp-content/themes/twentynineteen
