/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
/content/uploads
/wp
/content/plugins
/content/languages
/WP-API
/portfolio

/content/themes/TB/bower_components

/content/themes/TB/config.codekit

/content/themes/TB/css/.sass-cache

/content/themes/TB/css/scss/.sass-cache
