{% block header %}

        <header id="main-nav" class="navbar" role="navigation">

                <div id="logo" class="logo-svg">
                    <a class="btn-link" href="/" rel="home">
                        <h1>{{bloginfo('name')}}</h1>
                        {% include 'app/img/T.svg' %}
                    </a>
                </div><!-- logo-->

                <div id="nav-icons">

                    <nav class="menu">
                        <ul id="menu-main-nav" class="nav">
                        {% for item in menu.get_items %}
                            <li class="nav-main-item{{item.current ? ' active'}}{% if cpt_current == item.title %} active{% endif %}">
                                <a class="nav" href="{{item.get_path}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </nav>

                </div><!-- nav-icons-->

        </header><!-- header-->

{% endblock %}
