{% extends "base.twig" %}

{% block content %}
	<section id="wall" role="main" class="clearfix">
        {% for post in posts %}
            {% include 'partials/article-gallery.twig' %}
        {% endfor %}
    </section><!-- #wall -->

{% endblock %}