{% extends "base.twig" %}

{% block content %}
				
	<article id="teaser">
		<figure class="article_inner" onclick="window.location='http://diary.thomasbrodin.com/'">
			<div class="article_overlay">
				<div class="overlay-inner">
					<h2 class="article_title">Iphone Photography</h2>
					<p class="caption">Photo Journal on Tumblr</p>
				</div>
			</div>
		</figure>
	</article>

	{% for post in posts %}
		{% include ['partials/article-portfolio.twig'] %}
	{% endfor %}

{% endblock %}

