{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        
        {% include 'partials/header.twig' %}
		
            <div id="wrap" class="T-landing">

				<div class="tb-words hide-mobile">
                <span>Photographer</span>
                <span>Creative Director</span>
                <span>Art conspirator</span>
                <span>Front End Developer</span>
                <span>Creative Problem Solver</span>

            </div>

            <svg id="T-home"></svg>

			</div><!-- #wrap -->

        {% include 'partials/footer.twig' %}
       	

    </body>
</html>