
{% extends "base.twig" %}

{% block content %}
	
	<section id="journal" role="main" class="clearfix">
		
	</section><!-- #journal -->

	<!-- <div id="arrow-left"></div>
    <div id="arrow-right"></div> -->

{% endblock %}
