{% extends "base.twig" %}

{% block content %}
	
	<article class="page" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="article-body">
				{{post.content}}
			</div>
		</section>

	</article>


{% endblock %}