{% extends "base.twig" %}

{% block content %}
	
	{% if posts %}
		<section id="wall" role="main" class="clearfix">
			{% for post in posts %}
				{% include 'partials/article-portfolio.twig' %}
			{% endfor %}
		</section><!-- #wall -->
	{% else %}
		<h1 class="oops">No Results</h1>
			<h2 class="oops">Try another Search<br> 
			Or take a look at <a href="/" rel="home">Our Selected Work</a></h2>
	{% endif %}

{% endblock %}

