{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">

        <div class="large-bd to-top"></div>
        <div class="large-bd to-right"></div>
        <div class="large-bd to-bottom"></div>
        <div class="large-bd to-left"></div>
        <!-- borders-->

        {% include 'partials/header.twig' %}
        {% include 'partials/loader.twig' %}

				<div class="protected">
					<div class="form-elements">
						<div class="icon-lock"></div>
							<form class="password-form" action="{{ site.link }}/wp/wp-login.php?action=postpass" method="post">
								<div class="pwbox">
									<input class="password" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="PASSWORD" size="20" maxlength="20" />
									<input class="submit" type="submit" name="Submit" value="→" />
								</div>
							</form>
              {% if post.prev %}
      					<a class="btn" href="{{post.prev.link(true)}}">
      						<h5>Next Project</h5>
      					</a>
      				{% endif %}
					</div>
				</div>

        {% include 'partials/footer.twig' %}

    </body>
</html>
