{% extends "base.twig" %}

{% block content %}


	<article class="single">
		<section class="article-content">
			
			<div class="article-body">
				<h2 class="h2">{{post.title}}</h2>
				{{post.content}}
			</div>
			
		</section>

	</article>


{% endblock %}
