{% extends "base.twig" %}
{% block content %}
            	
	<div class="row">
		<div class="col-md-3">
        	<div class="post_info clearfix">

                <h2>{{post.title}}</h2>
                
            	{% if post.proj_caption %}
            		<p class="caption">{{post.proj_caption}}</p>
                {% endif %}
            	

	        </div><!-- .post_info -->
	    </div>
		    
	    <div id="single-content" class="col-md-9">
		    {% if post.tb_single %}
	    
		    	{% include 'partials/single-content.twig' %}

		    {% endif %}
	    </div><!-- row main -->
	</div>

	{% include 'partials/social-related.twig' %}

{% endblock %}	