{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>

    <body class="{{body_class}}" data-source="base.twig">
    	
    	{% include 'partials/header.twig' %}
		<div id="loader">
		 	<svg id="preloader" width="140px" height="140px" viewBox="0 0 140 140">
				<polyline id="top" fill="none" stroke="#000000" stroke-width="16" stroke-miterlimit="10" points="36.2,31.3 69.7,31.3 102.8,31.3 "/>
				<polyline id="bottom" fill="none" stroke="#000000" stroke-width="17" stroke-miterlimit="10" points="69.7,113.8 69.7,72.5 69.7,31.3 "/>
			</svg>
		 </div>
    	 <div id="single" class="creative-direction">
			<div id="single-content">
					               	  
			    {% if post.tb_single %}
		    
			    	{% include 'partials/single-content.twig' %}

			    {% endif %}			  

			</div>
		</div><!-- #single -->

		{% include 'partials/single-footer.twig' %}

    	{% include 'partials/footer.twig' %}
          
          
    </body>
</html>

