{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        
        {% include 'partials/header.twig' %}
		
		<div class="site-bd on-top"></div>
        <div class="site-bd on-right"></div>
        <div class="site-bd on-bottom"></div>
        <div class="site-bd on-left"></div>
        <!-- borders-->
            
            <div id="single">

			        <div class="slider">
			            <ul class="slides">                                    
			                {% for image in images %}
								<li>
					          		<img src="{{TimberImage(image.url).src}}">
			  	    			</li>
							{% endfor %}
			        
						</ul>
					</div><!-- Slider-->

					<div id="controlswrap">
			  		</div><!-- #controlswrap -->

					<div class="post_info">
				  		{% if post.client %}
		                    <div id="client">
		                        <h2 class"client">{{post.client}}</h1>
		                    </div>
		                {% endif %}

		                {% if caption %}
		                    <div class="captionwrap">
		                        <p class="caption">{{caption}}</p>
		                    </div><!-- .captionwrap -->
		                {% endif %}
		            </div>

			</div><!-- #single -->

        {% include 'partials/footer.twig' %}
          
    </body>
</html>
