{% extends "base.twig" %}

{% block content %}

    <div class="row">
	  		 	
        <div id="SliderContainer" class="col-md-9">
	        <div class="slider">
	            <ul class="slides">                                    
	                {% for image in images %}
						<li>
			          		<img src="{{TimberImage(image.url).src}}">
	  	    			</li>
					{% endfor %}
	        
				</ul>
			</div>
		</div>
		 <!-- Slider-->
		<div id="controlswrap" class="col-md-3">
  			<div class="captionwrap">
					<h1 class="article">{{post.title}}</h1>
					<p class="caption">{{caption}}</p>
        	</div>
  		</div> 

	</div>

{% endblock %}