{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        
        {% include 'partials/header.twig' %}
		
        <div id="wrap">
            
            <div id="single">

			        <div class="slider">
			            <ul class="slides">                                    
			                {% for image in images %}
								<li>
					          		<img src="{{TimberImage(image.url).src}}">
			  	    			</li>
							{% endfor %}
			        
						</ul>
					</div><!-- Slider-->

					<div id="controlswrap">
			  		</div><!-- #controlswrap -->

			  		<div class="captionwrap">
						<p class="caption">{{caption}}</p>
					</div><!-- .captionwrap -->

			</div><!-- #single -->

        </div><!-- #wrap -->


        {% include 'partials/footer.twig' %}
          
    </body>
</html>
