/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  #wrap {
    padding:114px 60px;
  }
  .navbar-brand {
    padding:44px 0 0 90px;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
  }
  body.admin-bar #main-nav {
    margin-top:32px;
  }
  #main-nav-content {
    padding:77px 0 0 83px;
  }
  .nav>li>a {
  padding: 2px 0;
  margin: 13px 7px;
  }
  article#teaser figure {
    width: 600px;
    height: 600px;
  }
  #content article figure {
    max-width:600px;
  }
}
@media (min-width: 992px) {
  #content article figure {
    max-width:800px;
  }
}
@media (min-width: 1200px) {
  #content article figure {
    max-width:1000px;
  }
}

@media screen and (max-width: 320px) {
 
}
