/* color styles : custom  */
  body  { color:#F8F8F8;overflow-y: hidden;background:#fff;  font-size:12px; line-height:20px;  font-family: 'futura_ts_medmedium', sans-serif; margin: 0 auto; letter-spacing:1.2pt;}
  #wrapper {overflow: hidden;position: absolute;left: 0;right: 0;top: 0;bottom: 0;padding:0}
  #wrapper .inner {position: relative;z-index: 1;height: 100%;overflow: auto;text-align: left;background-color: #fff;padding:0 0 0 0;}
	
  .page #wrapper{overflow-y:auto;overflow-x:hidden;}
	/* masonry */
	#masonry {opacity:0;margin: 0 40px 135px 80px;}
	#masonry .m_item {cursor: pointer; float:left;}
	#masonry .m_item .m_item_inner {margin: 0 10px 7px 0}
	#masonry .m_item img {width: 100%;}
	#masonry .m_item .m_overlay {display: none; position: absolute; z-index: 1; text-align: left; color: #f8f8f8; background: rgba(0,0,0,0.6)}

	
	/* webkit scrollbars */

	::-webkit-scrollbar {width: 15px;height:15px}
	::-webkit-scrollbar-track {background: #fff; } /* Track */
	::-webkit-scrollbar-thumb {background: #000; } /* Handle */

  .page ::-webkit-scrollbar-track {background: transparent; } /* Track */
	
/* font styles */	
  h1  { font-size:36px; line-height:41px; color:#000000; padding:0px; margin:0px; font-weight:bold; margin-bottom:5px; margin-top:5px; }
  h2  { font-size:20px; line-height:23px; color:#000000; padding:0px; margin:0px; font-weight:bold; margin-bottom:5px; margin-top:10px;  }
  h3  { font-size:15px; line-height:25px; color:#858585; padding:0px; margin:0px; font-weight:normal;   }
  h4  { font-size:15px; line-height:25px; color:#000000; padding:0px; margin:0px; font-weight:normal; font-weight:bold;  } 
  h5  { font-size:13px; line-height:22px; color:#000000; padding:0px; margin:0px; font-weight:normal;  }
  h6  { font-size:12px; line-height:22px; color:#858585; padding:0px; margin:0px; font-weight:normal;  } 
  p   { font-size:12px; color:#454545; line-height:18px; margin:0px; padding:0px; padding-top:8px; padding-bottom:8px; font-family: 'futura_ts_medmedium', Helvetica, sans-serif; }

/* list Styles */
  ul 	{ padding:0px; margin:0; margin-left:0px; font-family: 'futura_ts_medmedium', Helvetica, sans-serif; margin-top:10px;   }
  ul li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px; list-style:none;}
  ol 	{ padding:0px; margin:0; margin-left:25px; font-family: 'futura_ts_medmedium', Helvetica, sans-serif; margin-top:10px;   }
  ol li { font-size:12px; color:#858585; padding-left:10px; margin-bottom:7px;  list-style-type: decimal; }
  hr 	{ border:0; outline:0; clear:both; height:10px;}
	
/* link styles */	
  a:link 		{color:#000; text-decoration: none;} 
  a:visited 	{color:#000; text-decoration: none;}
  a:hover 		{color:#000; text-decoration: none;}
  a:active 		{color:#000; text-decoration: none;}
  a:focus 		{outline-style: none;}  	
	
/* header nav styles */ 
  #header 			 { height:105px;position:relative;z-index: 1200; padding: 30px 0 0 80px;width: 100%;}
  #logo 			 { font-family: 'futura_tsbold';padding: 0;}
  #logo a			 {font-size: 2.085em;text-transform:uppercase}
  #logo a:hover		 { opacity:0.6}
  #nav 			     {padding:0 ;width:50%;max-width: 480px;min-width: 450px}
  #nav ul 			 {list-style: none;  margin:0px; padding:0px;   }
  #nav ul li 		 { float: left;  display: inline-block;  font-size: 2.085em; margin:0px; padding:4px 0px 6px;   }
  #nav ul li a 		 { display:block; margin-right:17px; text-decoration:none; color:#000; }

	
  #nav ul li.current_page_item a{color:#000}
  #nav ul li.current-menu-item a{color:#000}
  #nav ul li a:hover { 	opacity:0.6}
 
 /* single post nav styles */ 
		  .post-nav 		 {position: fixed;right: 0;z-index: 1200; padding:74px 0 0 0;text-align: right;text-transform:uppercase;font-size:1.3em;margin-right:80px}
		  .post-prev a 		 {  padding:0;display:block; color:#000}
		  .post-prev a:hover {	opacity:0.6 }
		
		  .post-next a 		 {  padding:0;display:block;}
		  .post-next a:hover {	opacity:0.6 }

	.Description{text-align:center;padding-bottom: 0;}

	.caption {
	font-family: 'futura_ts_medmedium';
	z-index:1;
	position: absolute;
	margin:0 auto;
	padding: 0;
	text-align:center;
	display:table;
	background: rgba(0,0,0,0.6)
}
	.caption h2{color:#F8F8F8;line-height: 1.25em;letter-spacing: 0.075em;font-weight:normal;font-size:16px;display:table-cell;
	vertical-align: middle;height:90%;width:100%;text-align:center;position:relative;} 
	
	
	.copyright  {position:inherit;right:0;padding:34px 50px 0 0;font-size:70%;text-transform:uppercase}
       	
  .hex-page	{ font-family: 'futura_ts_medmedium';width:710px; margin-left:265px; position:relative ;letter-spacing:0.075em;font-size:14px;}
	.hex-page p	{ color:#F8F8F8;padding-bottom:15px;padding-top: 0; }
	.hex-page a { color:#f8f8f8 }
  
  .page #nav ul li a:hover { color:#909090;opacity:0.9}
	.page #nav ul li.current_page_item a, .page #nav ul li.current-menu-item a{color:#F5F5F5}
	.page #nav ul li.current_page_item a:hover, .page #nav ul li.current-menu-item a:hover{opacity:1}

 
/*  thumbnails excerpt styles */
 
  #masonry .m_item .m_overlay h2 { font-family: 'futura_ts_medmedium';color:#fff;font-weight:normal;font-size:14px;position:relative;margin:10px 0 0 6px;padding:0 10px;letter-spacing: 0.075em;}



/* Additional and WordPress styles */
  .clear 			{ clear:both;}
  .aligncenter	 	{ display: block; margin: 0 auto; }
  .alignleft		{ float: left; margin-right:20px; margin-top:20px; margin-bottom:10px; }
  .alignright		{ float: right; margin: 0 0 20px 20px; }
  .wp-caption		{  text-align: left; margin-top:5px; margin-bottom:5px; }
  .wp-caption-text  { margin-top:2px;  text-align:left; font-style:italic;  font-size:11px; color:#999; } 
  .sticky    		{}
  .gallery-caption  {} 
  .bypostauthor  	{}
  blockquote 		{ font-size:2em; line-height:23px; color:#000; margin-left:20px; border-left: 1px dotted #999; padding-left:25px; margin-top:15px; margin-bottom:15px; }


	/* slider */
	.container {position: absolute;right:0;left: 0;top:0;height:100%;width:100%;overflow: hidden;}
	#SliderContainer {position: relative;width: 100%;overflow-x: scroll;overflow-y: hidden;height: 100%;opacity:0}
	.slider {display: block;padding: 140px 0 0 0;margin: 0 auto;height:67%;}
	.slide {display: block;float:left;margin-left: 10px;height:100%;}
	.slide img{display: block;padding: 0;margin: 0;float: left;height: 100%;z-index: 0;position: relative;}
	.slide:first-child {margin-left: 80px}
	
	/* Styles specific  */
	#wpadminbar{ display: none;}
  #wpstats {display: none;
}

/* your css rules for ipad portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  body{letter-spacing:1pt;}
  #logo a      {font-size:1.95em}
  #nav ul li      {   font-size: 1.95em;padding:5px 0px 5px;}
 .slider {padding: 180px 0 0 0;margin: 0;}
 .post-nav {bottom: 40px;text-align: left;margin-left: 80px;left:0;}
 .slide img { height:40%;} 
  #nav {width:520px}
  .page #header{background:none;}
}
/* your css rules for ipad landscape */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  body{letter-spacing:1pt;}
   #logo a      {font-size:1.95em;}
   #nav ul li      {   font-size: 1.95em; padding:5px 0px 5px;}
  .slider {padding: 140px 0 0 0;}
   #nav {width:500px}
  .page #header{background:none;}
  .post-nav {padding: 75px 0 0 0;margin-right:80px}
}

  /* end of css file */