{% extends "base.twig" %}

{% block content %}
	
	<section id="wall" role="main" class="clearfix">
		{% for post in posts %}
			{% include 'partials/article-portfolio.twig' %}
		{% endfor %}
	</section><!-- #wall -->
	
{% endblock %}

