@import "neat-1.9/neat-helpers";

// Change the grid settings
$gutter: modular-scale(1, 1em, $golden) !global;
$column: modular-scale(3, 1em, $golden) !global;
$max-width: 81rem;

// Define your breakpoints
$tablet: new-breakpoint(min-width 768px max-width 1024px, 3);
$mobile: new-breakpoint(max-width 767px, 3);
$lg-screen: new-breakpoint(min-width 1440px);
