@import "neat/neat-helpers"; 

// Change the grid settings
$gutter: modular-scale(1, 1em, $golden) !global;
$column: modular-scale(3, 1em, $golden) !global;
$max-width: 81rem;

// Define your breakpoints
$mobile: new-breakpoint(max-width 768px 3);
