/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  body.admin-bar #main-nav {
    margin-top:32px;
  }
  #wrap {
    padding:150px 60px 0;
  }
  #logo {
    padding:22px 0 0 29px;
  }
  #main-nav {
    padding: 17px 17px 0;
  }
  #single{
   padding: 150px 60px 85px 60px;
  }
  /* SITE BORDER */
  .site-bd {
    background: #111111;
    position: fixed;
    z-index: 9990;
  }
  .on-top, .on-bottom{
    left: 8px;
    right: 8px;
    height: 1px;
    margin:8px 0;
  }
  .on-left, .on-right {
    top: 8px;
    bottom: 8px;
    width: 1px;
    margin:0 8px;
  }
  .on-bottom {
    bottom: 0
  }
  .on-right {
    right: 0
  }
  #nav-icons {
    padding:26px 41px 0;
  }
  .overlay nav {
    font-size: 36px
  }
  #wall {
    margin: -1.5em -30px -2em
  }
  article#teaser figure {
    width: 300px;
    height: 300px;
  }
  #content article figure {
    max-width:600px;
  }
  #bottom-titles {
    padding:0 43px;
    margin-top: 0
  }
  #cat_title h1,
  #name h1,
  #title h1{
    font-size: 24px;
    line-height: 24px;
  }
  .hide-mobile {
    display: block!important
  }
  .flex-direction-nav .flex-prev { left: 8px; }
  .flex-direction-nav .flex-next { right: 8px;}
}
@media (min-width: 992px) {
  #content article figure {
    max-width:800px;
  }
}
@media (min-width: 1200px) {
  #content article figure {
    max-width:1000px;
  }
}

@media screen and (max-width: 320px) {
 
}
